.HomepageBanner{
	/*height: auto;*/
	height: 680px;
	
	/*opacity: 0.5;*/
	background-color:#283593;
	background-image: url("/img/bg001.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	/*background-image: url("/img/bg.jpg");*/
	/*z-index: -1;*/
	

}
.btitle1{
	text-align: left;
	font-size: 50px;
	padding-left: 50px;    
    line-height: 60px;
    letter-spacing: 0px;
    font-weight: 300;
}
.btitle2{
	line-height: 30px;
    letter-spacing: 0px;
    font-weight: 200;
    text-align: left;
    margin-left: 50px;
    font-size: 18px;
}
.whtcolr{
	color: #f1f1f1;
	
}
.bannerbtn{
	height: 50px;
	background-color:transparent;
	width: 235px;
	text-align: center;
	border: 1px solid #fff;
	margin-left: 50px;
	margin-top: 50px;
	border-radius: 30px;
	line-height: 48px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}
.bannerbtn:hover{
	background-color: #376bff;
}
.bg{
	/*background-image: url("/img/bg001.png");*/
	/*background-repeat: no-repeat;*/
	margin-top: 135px;
	
	
	/*opacity: 0.51;*/
}
.side1img{
	height: 355px;
	width: 555px;
}