.HomepageBanner{
	/*height: auto;*/
	height: 800px;
	
	/*opacity: 0.5;*/
	/*background-color:#283593;*/
	background-image: url("/img/Banner.png");
	/*background-image: url("/img/Background_4.png");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	/*background-image: url("/img/bg.jpg");*/
	/*z-index: -1;*/
	

}
.btitle1{
	/*text-align: left;*/
	font-size: 50px;
	padding-left: 7px;    
    line-height: 53px;
    letter-spacing: 0px;
    font-weight: 300;
}
.btitle2{
	line-height: 23px;
    letter-spacing: 0px;
    font-weight: 200;
    text-align: center;
    margin-left: -120px;
    font-size: 18px;
    margin-top: 13px;
}
.whtcolr{
	color: #f1f1f1;
	
}
.bannerbtn{
	height: 50px;
	background-color:transparent;
	width: 235px;
	text-align: center;
	border: 1px solid #fff;
	margin-left: 50px;
	margin-top: 50px;
	border-radius: 30px;
	line-height: 48px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}
.bannerbtn:hover{
	background-color: #376bff;
}
.bg{
	/*background-image: url("/img/bg001.png");*/
	/*background-repeat: no-repeat;*/
	margin-top: 135px;
	
	
	/*opacity: 0.51;*/
}
.bgmobile{
	margin-top: 100px;
}
.side1img{
	height: 355px;
	width: 555px;
}

/*mobile*/

.HomepageBannermobile{

	height: 1005px;
	
	/*opacity: 0.5;*/
	background-color:#283593;
	/*background-image: url("/img/bg001.png");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.side1imgMobile{
	margin-top: 50px;
	/*margin-left: 2%;*/
	height: 290px;
	width: 100%;
}
.btitle1mobile{
	text-align: left;
	font-size: 50px;
	padding-left: 20px;    
    line-height: 60px;
    letter-spacing: 0px;
    font-weight: 300;
}
.btitle2mobile{
	line-height: 30px;
    letter-spacing: 0px;
    margin-top: 5px;
    font-weight: 200;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
}
.super30txt{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 90px;
	letter-spacing: 6px;
}
.super30txtmobile{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 47px;
	letter-spacing: 6px;
}
.super30txt1{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 40px;

}
.super30txt2{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 35px;
	background-color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000080;
	letter-spacing: 6px;

}
.super30txt3{
	text-align: center !important;
	font-weight: 500;
	margin-left: 84px;

}
.pd35{
padding: 16px 36px;
}