.lamsge{
	font-size: 35px;
	font-weight: 900;
	padding: 25px 0px 35px 10px;
}

.cusfcmpbtn{
	position: relative;
	height: 50px;
	background-color:#4e58b2;
	/*width: 167px;*/
	text-align: center;
	border: 1px solid #fff;
	margin-bottom: 50px;
	border-radius: 30px !important;
	line-height: 48px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
}
.cusfcmpbtn:hover{
	background-color: #353e92;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999 !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.p49{
    padding: 25px 23px;
}
.input-field.borderd {
    border: 2px solid rgba(0, 0, 0, 0.07);
}
.nopadding{
    padding: 0px;
}