
.c1box1{
	height: 710px;
    padding: 50px 15px 0px 15px;
}

.part1box1{
	height: 680px;
	/*background-color: #efefef;*/
}
.nopadding{
	padding: 0px;
}

.text1para1{
	padding: 30px 15px 0px 30px;
	

}
.text1para1 p{
    font-size: 18px;
    color: #333;
    line-height: 1.5;

}
.txt1c{
	color: #7c7c7c;
    line-height: 1.625;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    margin: 0 0 5px 0;
    text-align: left;
}
.txt2c{
	color: #376bff;
    line-height: 1.25;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-weight: 700;

}
.linectxt{
	height: 2px;
    width: 82px;
    background-color: #376bff;
    margin: 0 0 -12px -20px;
    margin-left: 27px;


}
.cmpbtn{
	height: 50px;
	background-color:#4e58b2;
	width: 167px;
	text-align: center;
	border: 1px solid #fff;
	/*margin-left: 50px;*/
	margin-top: 50px;
	border-radius: 30px;
	line-height: 48px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}
.cmpbtn:hover{
	background-color: #353e92;
}

.bboxc1wrap{
	height: 290px;
	width: 247px;
	border-radius: 10px;
	margin: 0px 0px 40px 30px;
	cursor: pointer;
	background-image: url("/img/block1.jpg");
	background-size: 100% 100%;
}
.blockicon{
	height: 51px;
	width: 51px;
	background-image: url("/img/blockimg.png");
	background-size: 100% 100%;
	margin-top: 54px;


}
.bboxc1:hover{
	background: #4e58b2bd !important;
	/*transition: 1.25s cubic-bezier(0.76, 0.03, 0.28, 0.98);*/
}

.bboxc1{
	height: 290px;
	width: 247px;
	border-radius: 10px;
	cursor: pointer;
	margin: 10px 0px 10px 0px;
	background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff);;
	box-shadow: 4px 4px 11px 4px #d3d3d3;
	/*background-color: #fff;*/
}
.contentbboxc1{
	color: #333 !important;
	padding: 40px;
	font-size: 16px;
	text-align: justify-all;
	padding-top: 90px;
}
.titlebboxc1{
	text-align: center;
	color:#376bff;
	margin: 40px 0px 8px 0px;
}

/*==========================*/
.mtop50{
	/*position: relative;
	top: 50px;*/
	padding-top: 50px;
}
.bboxc2wrap{
	height: 290px;
	width: 247px;
	border-radius: 10px;
	margin: 0px 0px 40px 0px;
	cursor: pointer;
	background-image: url("/img/block1.jpg");
	background-size: 100% 100%;
}
.bboxc2:hover{
	background: #f6b43c73 !important;
	/*transition: 1.25s cubic-bezier(0.76, 0.03, 0.28, 0.98);*/
}

.bboxc2{
	height: 290px;
	width: 247px;
	border-radius: 10px;
	cursor: pointer;
	margin: 10px 0px 10px 0px;
	background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff);;
	box-shadow: 4px 4px 11px 4px #d3d3d3;
}
.contentbboxc1:hover .descriptionbboxc1 {
 color:#fff ;
}
.contentbboxc1:hover .titlebboxc1 {
 color:#fff;
}
.contentbboxc1{
	color: #fff !important;
	padding: 40px;
	font-size: 16px;
	text-align: justify-all;
	padding-top: 90px;
}
.titlebboxc1{
	color: #376bff;
	text-align: center;
	margin: 40px 0px 8px 0px;
}
.text1para1mobile{
	padding: 30px 0px 0px 0px;

}
.c1box1Mobile{
    position: relative;
    height: 2000px;
    padding: 50px 5px 5px 5px;

}
.firstpara{
	text-transform: uppercase;
	font-weight: none ! important;
	font-size: 20px ! important;
}
.secondpara{
	font-weight:100;
	margin-top: -15px;
}
.highlight{
	font-weight: 700 ! important;
}
.descriptionbboxc1{
	color: #333;
}
.part2box1{
	margin-top: 65px;
}