
.section-title {
    text-align: center;
    margin-bottom: 56px;
}
.section-title .title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 13px;
    color: #242424;
    font-weight: 700;
    text-transform: capitalize;
}
.section-title p {
    max-width: 650px;
    font-size: 16px;
    line-height: 26px;
    color: #555;
    text-align: center;
    margin: 0 auto;
}
.ContactWrap{
	padding: 110px 0px 120px;
    position: relative;
    height: 825px;
    /*background-color: #eee;*/
}
.padd50{
	padding: 0px 75px;
}
.formwrap{
	/*background-color: #ccc;*/
}
.lg4{
	/*background-color: #999;*/
}
.h133{
	height: 133px;
	margin-bottom: 30px;
	/*background-color: #eee;*/
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
}
.lg8{
	/*background-color: #9f9;*/
}
.h460{
	height: 460px;
	/*background-color: #9f9;*/
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
	/**/

}
.ml45{
	margin-top: 65%;
    margin-left: 27%;
}
.m13{
	margin-top: 13%;
}
.m5{
margin-top: 5%;
}