
.section-title {
    text-align: center;
    margin-bottom: 56px;
}
.section-title .title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 13px;
    color: #242424;
    font-weight: 700;
    text-transform: capitalize;
}
.section-title p {
    max-width: 650px;
    font-size: 16px;
    line-height: 26px;
    color: #555;
    text-align: center;
    margin: 0 auto;
}
.ContactWrap{
	padding: 50px 0px 0px;
    position: relative;
    height: 650px;
    /*background-color: #eee;*/
}
.padd50{
	padding: 0px 75px;
}
.formwrap{
	/*background-color: #ccc;*/
}
.lg4{
	/*background-color: #999;*/
}
.h133{
	height: 133px;
	margin-bottom: 30px;
	/*background-color: #eee;*/
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
}
.lg8{
	/*background-color: #9f9;*/
}
.h460{
	height: 460px;
	/*background-color: #9f9;*/
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
	/**/

}
.ml45{
    margin-top: 15%;
    margin-left: 13%;
}
.m13{
	margin-top: 13%;
}
.m5{
margin-top: 5%;
}
.squre1{
    background-image: url("/img/cu2.png");
    background-size: 100% 100%;
    margin: 30px 0px 0px 5px;
    height: 75px;
    width: 75px;
}
.middleIcon{
    position: relative;
    margin: -80px 0px 0px 22px;

}
.hoverh133{
    cursor: pointer;
}
.tran90{
    transform: rotate(180deg);
    transition: 2s;

}