.madalbtn{
	position: fixed;
	top: 100px;
	right: 2px;
	z-index: 10;
}
.addressmodalclose:hover{
	cursor: pointer;
}
.nopadding{
	padding: 0px;
}
.conWrap{
	padding: 0px;
	height: 675px;
	background-image: url("https://iassureit-website.s3.ap-south-1.amazonaws.com/trainingAcademy/frontend-frameworks.png");
	background-size: 100% 100%;
}
#myModalOne{
	background-color: #fff;
	    height: 500px;
    margin-top: 56px;
    border-radius: 10px;
}
	.containerCon{
		/*margin-left: 55px;*/
		padding: 0px;
    /* padding-left: 42px; */
    /*width: 1200px;*/
    max-width: 100%;
    
    
    /*height: 500px;*/
	}
	.conatctform{
	border: 1px solid #ccc;
	border-radius: 10px;

	box-shadow: 2px 2px 20px 0px #544e4e;
}
	.nopadding{
		padding: 0px;
	}
	.conatctMap{
		height: 500px;	
		background-color: #aaa;	
	}
	.xsheight{
		height: 500px;	
		background-color: #fefefe;

	}
	.conatctform{
		margin: 25px;
		height: 440px;	
		margin-top: 75px;
		
		/*transform: rotate(180deg);*/
		background-color: #fefefe;

	}
	.labelmargin{
		text-align: right;
		margin-top: 6px;
	}
	.bt30{
		margin-top:  10px;
	}
	.cName{
    padding: 22px;
    margin-left: 25px;
    height: 63px;
    font-size: 15px;
    width: 75%;
    border: 2px solid #eee;
    height: auto;
}
.compaddress{
    padding: 22px;
    margin-left: 25px;
    padding-left: 13.5%;
    height: 150px;
    width: 75%;
    border: 2px solid #eee;
    height: auto;
}
.ml25{
	margin-left: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea.form-control {
    height: auto !important;
}
.mtop30cf{
	margin-top: 40px;
	margin-left: 25px;

}
.bt20{
	margin-top: 20px;
}

.sbtn{
	    /*background: -webkit-linear-gradient(left,#ffc600 0%,#ff4200 50%,#ffc600 100%);*/
	    height: 50px;
	    background-color: #18ccf7;
	    /*color: #fff;*/
	    font-weight: 600;
	    font-size: 16px;
}
.mtop75{
	margin-top: 75px;
}