.caroualWrap{
	height: 450px;
	margin-top: 60px
	/*background-color: #ccc;	*/
}
.caroualWrapmobile{
	height: 885px;
	/*background-color: #eee;*/
}
.mar25all{
	margin: 25px 0px;
}

.textmobilepara p{
	line-height: 1.6;
	color: #666;

}