.ContactUsBannerWrap{
	height: 305px;
	background-image: url("/img/contBanner.png");

}
.ContactUsBannerBox{
/*	background-color: #252424ad;*/
	height: 305px;
}
.cusbannertxt{
	font-size: 50px;
    color: #fff;
    padding-top: 11%;
    text-align: center;
    font-weight: 600;
}
.page-title h1 {
    position: relative;
    color: #fff;
    font-size :50px !important;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.page-title .page-breadcrumb {
    position: relative;
}
.page-title .page-breadcrumb li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}