.mtop65{
	margin-top: 65px;
}
.ocTitle{
	color: #292929;
    line-height: 1.25;
    font-size: 35px;
    font-weight: 400;
    text-transform: none;
    margin:auto auto;
}

.ocLine{
	/*margin-top: 25px;*/
	height: 2px;
	margin-bottom: 30px;
    background-color: #376bff ! important;
	/*margin-top: 5px;*/ 

}

.AllBlogsBox{
	background-color: #f6f6f6;
	border: 1px solid #eaeaea;
	padding: 20px;
}
/*.mtop75{

}*/

.All1blog1{
	background-color: #f00;
	height: 100px;

}
.ocpTitle{
	margin: 5px 0px;
	line-height: 1.15 !important;
	font-size: 18px;
	padding-bottom: 5px;
	color: #292929 !important;
}
.AllblogImgB{
	height: 173px!important;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
}
.AllblogImgB:hover{
	overflow: hidden;

	-webkit-animation: kenburns-right 1s ease-out both;
	        animation: kenburns-right 1s ease-out both;

}

/**
 * ----------------------------------------
 * animation kenburns-right
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(20px);
            transform: scale(1.25) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
@keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(20px);
            transform: scale(1.25) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

.Allblog{
	/*background-color: #888;*/
	
}
.ohide{
	overflow: hidden;
}
.oc2Para{
	overflow: hidden;
	height: 66px;
	line-height: 1 !important;
	text-overflow: ellipsis;
}
.All1blog1{
	position: relative;
	height: 221px;
	/*margin-bottom: 50px;*/
	background-color: #fff;
	line-height: 1;
	overflow: hidden;
	box-shadow: 2px 2px 12px 5px #ccc;
}
.p10{
	padding-left:  25px;
	padding-right: 10px;
}
.imgRoundrb{
	border-radius: 100%;
	height: 50px !important;
	width: 50px !important;
	position: relative;
	padding: 0px;
    top: 4%;
    left: 8%;
}
.r1blog1 hr{
	margin-bottom: 0px!important;
}

.mtop10{
	margin-top: 10px;
}

.mtop20{
	margin-top: 20px;
}
.graycolor{
	color:#777;
}

.z50{
	position: relative;
	top: -75px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 4%;
  right: -2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.All1blog1:hover .middle {
  opacity: 1;
}

.wclr{
	color: #fff;
	margin: 5px;
	font-size: 20px !important;
	cursor: pointer;
}
.rclr{
	color: #f00;
	margin: 5px;
	font-size: 20px !important;
	cursor: pointer;
}

.hoverbk{
	    background-color: #111;
    border-radius: 12px;
}
.OCBlockline{
	height: 4px;
	width: 100%;
	background-color: #283593;
}
.pad50{
	padding: 50px;
}
.occmpbtn{
	position: relative;
	height: 50px;
	background-color:#4e58b2;
	width: 214px;
	text-align: center;
	border: 1px solid #fff;
	margin-left: 30px;
	margin-bottom: 50PX;
	/*margin-top: 50px;*/
	border-radius: 30px;
	line-height: 48px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
}
.occmpbtn:hover{
	background-color: #353e92;
}
.octext1para1{
	padding: 30px 15px 0px 30px;
    /*height: 550px;*/
    text-align: left;
}
.ocb1Img{
	height: 300px;
    margin-top: 20%;
}
.octext1para1 p{
	font-size: 18px;
    color: #333;
    line-height: 1.5;
    font-weight: 100;
}
.super30txt12{
	font-weight: 700;
	font-size: 36px
}

.newdiv{
	margin-top: -55px;
}
/*================================================================*/
/*================================================================*/
					/*mo*/
/*================================================================*/
/*================================================================*/

.ocWrap{

}
.ocWrapmobile{
	position: relative;
	height: 3580px;
	
}
.octext1para1mobile{
	padding: 30px 0px 0px 0px;
	text-align: left;
}
.ocb1Imgmobile{
	margin: 40px 0px 0px 0px;
}
.infoblock{
	margin-left: 21px;
}
.Lheight{
	line-height: 1.5;
	padding: 15px 30px 0px 30px;
	color: #333;

}
.paddiv{
	padding-bottom: 30px;
}
.txt2c{
	color: #376bff !important ;
    line-height: 1.25;
    font-size: 36px !important ;
    text-transform: uppercase ! important;
    margin: 0 0 15px 0;
    font-weight: 700! important;

}
.programtxt{
	margin-top: 70px;
}
.notetext{
	color: #333;
}
.courceDiv{
	height: 86px;
	background-color: #f4f6fd;
	box-shadow: 2px 2px 12px 5px #ccc;
}
.imgDiv{
	background-color: #fff;
	box-shadow: 2px 2px 12px 5px #ccc;
	height: 80px;
	width: 80px;
	border-radius: 100px;
	margin-top: -20px;
	margin-left: 90px;
}
.blockimg1{
	height: 36px;
	margin-top: 19px;
	margin-left: 7px;
}
.ocDate{
	color: #1f9cfa ! important;
}
.courcetitle{
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
}
.courcepara{
	color: #333;
	text-align: center;
	font-weight: 100;
}
.bottomline{
	height: 10px;
	background-color: #a4d4ed;
}
