.gmapwrapper{
	/*height: 500px !important;*/
	width: 100%;
	/*background-color: #ddd !important;*/
}
.mapouter{
	position:relative;
	text-align:right;
	/*height:500px;*/
	/*width:1000px;*/
}
.gmap_canvas{
	overflow:hidden;
	background:none!important;
/*	height:500px;
	width:900px;*/
}
.demogmap_canvas{
	overflow:hidden;
	/*background:#aaa !important;*/
	/*background-image: url("/images/demomap.png");*/
	/*opacity: 0.3;*/
/*
	height:500px;
	width:900px;*/
	padding: 15px 0px;

}
.demoBlack{
	overflow:hidden;
	background:#000000d4 !important;
	margin-top: -12px;
	height:500px;
	width:100%;
	padding: 15px 0px;

}
.mapcontainer {
  position: relative;
  width: 100%;
  background-color: #000;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 460px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.mapcontainer .image {
  opacity: 0.3;
  /*cursor: pointer;*/

}

.mapcontainer .middle {
  opacity: 1;
  background-color: #000000d4 !important;
  cursor: pointer;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.mapouter{
	display: none;
}
/*=====================================================================================================*/
.gmapwrapper{
	/*height: 500px !important;*/
	width: 100%;
	/*background-color: #ddd !important;*/
}
.mapouterxs{
	position:relative;
	text-align:right;
	/*height:500px;*/
	width:1000px;
}
.gmap_canvas{
	overflow:hidden;
	background:none!important;
/*	height:500px;
	width:900px;*/
}
.demogmap_canvasxs{
	overflow:hidden;
	/*background:#aaa !important;*/
	/*background-image: url("/images/demomap.png");*/
	/*opacity: 0.3;*/

	height:400px;
	width:375px;

	padding: 15px 4px;

}
.demoBlackxs{
	overflow:hidden;
	background:#000000d4 !important;
	margin-top: -12px;
	height:400px;
	width:400px;
	padding: 15px 0px;

}
.mapcontainerxs {
  position: relative;
  width: 100%;
  background-color: #000;
}

.imagexs {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

  .middlexs {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.mapcontainerxs .imagexs {
  opacity: 0.3;
  /*cursor: pointer;*/

}

.mapcontainerxs .middlexs {
  opacity: 1;
  background-color: #000000d4 !important;
  cursor: pointer;
}

.textxs {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.mapouterxs{
	/*display: none;*/
}

/*================================================================================*/

.mapWrap{
  background-image: url("/img/Background_3.png");
  background-size: 100% 100%;
  height: 500px;
  padding: 0px 108px;
}